#search-field{
	height: 35px;
	width:500px;
	min-width: 250px;
	display: block;

	margin: 0 auto 0 auto;

	font-size: 20px;
}

img.google{
	height:95px;
	width:269px;
	display:block;

	margin: 0 auto 0 auto;

		margin-bottom:20px;


}

#main{
	position:relative;
top:150px;
}

form div{
	position:relative;
	top:10px;
	text-align: center;
}

.button{
	margin-left: 10px;
	width:110px;
	height:30px;
	border-radius: 2px;
	background: white;
	border:1px solid lightgray;
	font-weight: bold;
}
.button:hover{
box-shadow: 0px 1px 1px #999; }

.navbar ul li{
display:inline;
margin-left: 12px;
float:right;
}
.navbar ul li.text{
	position: relative;
	top:18px;
	}
.navbar{
	padding: 10px;
}
.navbar ul li img{
	border-radius: 50%;
}
a{
	font-family: arial, sans-serif;
	font-size: small;
}
a:link, a:visited{
	color:#777;
	text-decoration: none
}
a:hover{
	text-decoration: underline;
}
#footer{
	border-top: 1px solid #e4e4e4;
	position:fixed;
	bottom:0px;
	height:35px;
	padding:10px;
	background: #f2f2f2;
	width: 100%;
}

ul.right li, ul.left li{
	position:relative;
	top:10px;
	display: inline;
	margin-left: 7px;
}

ul.right{
	float:right;
	margin-right: 20px;
}
ul.left{
	float:left;

}
